In [ ]:
#Notes / tutorial on Deep Learning
#Shallow Neural Networks have one hidden layer
#Deep Neural Networks have many different hidden layers

In [ ]:
Activation Functions 
If we do not apply an activation function the nthe output signal would simply be a simple linear function, (polynomial to one degree)
-Sigmoid
-Tanh
-relu
-LeakyRelu
-softmax

In [ ]:
Back propogation 
Back Propogation is the method at which the weights of the nodes re changed in each hidden layer to get a more accurate result
once the algorithm has passed through the layers the first time, it compares the output to the true value and consideres the
error. With the loss function it calculates these error, it then goes backwards through the layers and updates the weights 
to minimize the error
This back propogation occurs each time an epoch is run, and its designed to change the weights to minimize the errors

In [ ]:
Steps for building an Artificial Neural Netowork
-Data Preprocessing
-Add input layer
-Random w init
-add hidden layers
-select optimizer, loss, and performance metrics
-compile the model
-use model.fit to train the model
-adjust optimization parameters or model if needed

In [14]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
print(tf.__version__)

2.1.0

In [9]:
dataset = pd.read_csv('Churn_Modelling.csv')
x = dataset.drop(columns=['RowNumber', 'CustomerId', 'Surname', 'Exited'])
y = dataset['Exited']
x.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [15]:
#Note that we have to map columns geography, and gender to numerical values for it to work in a NN
from sklearn.preprocessing import LabelEncoder

In [21]:
label1 = LabelEncoder()
x['Geography'] = label1.fit_transform(x['Geography'])
label = LabelEncoder()
x['Gender'] = label.fit_transform(x['Gender'])
x.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0       0  ...          1               1        101348.88
1          608          2       0  ...          0               1        112542.58
2          502          0       0  ...          1               0        113931.57
3          699          0       0  ...          0               0         93826.63
4          850          2       0  ...          1               1         79084.10

[5 rows x 10 columns]

In [22]:
#Now we have france listed as 0 and spain listed as 2
#THis means the model will value spain and france differently, which is not what we want
#We need to change these values into categorical values
#We do this through one hotencoding 
#We dont need to do this for gender because it is binary

In [23]:
#this is one hot encoding
x = pd.get_dummies(x, drop_first=True, columns=['Geography'])
x.head()

   CreditScore  Gender  Age  ...  EstimatedSalary  Geography_1  Geography_2
0          619       0   42  ...        101348.88            0            0
1          608       0   41  ...        112542.58            0            1
2          502       0   42  ...        113931.57            0            0
3          699       0   39  ...         93826.63            0            0
4          850       0   43  ...         79084.10            0            1

[5 rows x 11 columns]

In [26]:
#Now we move on to FEATURE STANDARDIZATION

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0, stratify = y)

In [31]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [35]:
#Now we ar ready to build the Neural Network
model = Sequential()
model.add(Dense(x.shape[1], activation='relu', input_dim = x.shape[1]))
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [36]:
model.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'])

In [37]:
model.fit(x_train, y_train.to_numpy(), batch_size = 10, epochs =10, verbose = 1)

Train on 8000 samples
Epoch 1/10
8000/8000 [==============================] - 3s 378us/sample - loss: 0.4373 - accuracy: 0.8165
Epoch 2/10
8000/8000 [==============================] - 2s 289us/sample - loss: 0.3714 - accuracy: 0.8457
Epoch 3/10
8000/8000 [==============================] - 2s 268us/sample - loss: 0.3516 - accuracy: 0.8556
Epoch 4/10
8000/8000 [==============================] - 2s 245us/sample - loss: 0.3464 - accuracy: 0.8583
Epoch 5/10
8000/8000 [==============================] - 2s 296us/sample - loss: 0.3412 - accuracy: 0.8597
Epoch 6/10
8000/8000 [==============================] - 3s 372us/sample - loss: 0.3373 - accuracy: 0.8622
Epoch 7/10
8000/8000 [==============================] - 2s 283us/sample - loss: 0.3351 - accuracy: 0.8627
Epoch 8/10
8000/8000 [==============================] - 2s 272us/sample - loss: 0.3336 - accuracy: 0.8633
Epoch 9/10
8000/8000 [==============================] - 2s 258us/sample - loss: 0.3328 - accuracy: 0.8635
Epoch 10/10
8000/8000 [==============================] - 2s 249us/sample - loss: 0.3295 - accuracy: 0.8648

In [38]:
#NOw we predict the classes 
y_pred = model.predict_classes(x_test)

In [39]:
y_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [1],
       [0]])

In [40]:
y_test

1344    1
8167    0
4747    0
5004    1
3124    1
       ..
9107    0
8249    0
8337    0
6279    1
412     0
Name: Exited, Length: 2000, dtype: int64

In [41]:
#This is the model accuracy for the testing data set
model.evaluate(x_test, y_test.to_numpy())

2000/2000 [==============================] - 0s 164us/sample - loss: 0.3577 - accuracy: 0.8580

[0.35773147964477536, 0.858]

In [42]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [43]:
confusion_matrix(y_test, y_pred)

array([[1556,   37],
       [ 247,  160]], dtype=int64)

In [44]:
accuracy_score(y_test, y_pred)

0.858